<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% extends 'main.html' %}

            {% block content %}
                <h1>Projects List</h1>
                
                <table border=1>
                    <tr>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Positive Votes</th>
                        <th>Ratio</th>
                        <th>Created</th>
                    </tr>
                    
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.id }}</td>
                            <td><a href="{% url 'project' project.id %}"> {{ project.title }}</a></td>
                            <td>{{ project.vote_totals }}</td>
                            <td>{{ project.vote_ratio }}%</td>
                            <td>{{ project.created }}</td>
                            <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
                        </tr>
                    {% endfor %}                    

                </table>
        
        {% endblock %}
    </body>
</html>